- @recruitments.each do |recruitment|
  %img.job
    =image_tag recruitment.image
  .job-labels
    = recruitment.job_type
  %a.job-title{:href => "/recruitments/#{recruitment.id}"}
    = recruitment.title
  .job-introduction
    = recruitment.text
  .job-bottom
    %img.lazy{ :height => "50", :src => "/assets/logo.image.png", :style => "display: block;", :width => "50"}/
    .job-bottom__campany
      %a.campany-name
        = recruitment.campany_name
      %a.campany-prefecture 東京都
