.header
  .header__logo
    %a{:href => "/"}
      %img.icon{:alt => "Wantedly", :height => "44px", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg", :width => "44px", :margin => "0"}/
  .header__menu
    %ul
      %li
        %a{:href => "/"} 募集を見る
      %li
        %a{:href => "/"} フィード
      %li
        %a{:href => "/"} プロフィール
      %li
        %a{:href => "/"} ツール
      %li
        %form.search{"accept-charset" => "UTF-8", :action => "/search", :method => "get"}
          %span{:style => "position: relative; display: inline-block; direction: ltr;"}
            %input.input{:autocomplete => "off", :dir => "auto", :name => "q", :placeholder => "人や会社、募集を検索", :spellcheck => "false", :style => "position: relative; vertical-align: top;", :type => "text"}/
          %i.wt-icon.wt-icon-search-short

  .header__profile
    %img.photo{:height => "40", :src => "/assets/icon.photo.jpg", :style => "display: block", :width => "40"}
    #modal-overlay
      .hidden-menu
        .hidden-menu__account
          %ul
            %li
              %a.account-link
                .name-area
                  .name-profile
                    / = current_campany.name
                  .name-edit プロフィール編集
        .hidden-menu__visit
          %ul
            %li
              %a.apply-visit{:href => "/campanies/show"} 応募求人
            %li
              %a.apply-visit{:href => "/"} 保存した募集
        .hidden-menu__user
          %ul
            %li
              %a.user-menu{:href => "/"} フォローしている会社
            %li
              %a.user-menu{:href => "/"}友達を招待
            %li
              %a.user-menu{:href => "/"}アカウント設定
            %li
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'user-menu'



.detail-contents
  .detail-contents__main
    .detail-contents__main__header
      .detail-contents__main__header__title
        .detail-contents__main__header__title__icon
        %h1.title
          = @recruitment.title
        .detail-contents__main__header__title__name
          .detail-contents__main__header__title__name__icon
          %a.campany-name
            = @recruitment.campany_name
      .detail-contents__main__header__image
        .detail-contents__main__header__image__main
          = image_tag @recruitment.image
        %ul.bottom-menu
          %li.time 2017/06/10
          %li.friends 社員とあなたの共通の友達
          %li.total-view 3577
          %li.btn
    .detail-contents__main__area
      .detail-contents__main__area__inner
    .detail-contents__main__side
      .detail-contents__main__side__btn
        .detail-contents__main__side__btn__inner
          - if current_user
            .apply-btn
              = link_to "話を聞きにいきたい", recruitment_applies_path(@recruitment), method: :post, class:'btn'

